#clear-search::after{
  content: '';
}
#clear-search{
  position: relative;
  left: -120px;
  top: 5px;
  background: none;
  border:none;
  font-size: 32px;
  width: 60px;
}
.search {
  position: relative;
  
  align-self: center;
    width: auto;
    float: right;
    margin-right: 30px;
    input {
        width: 250px;
        height: 22px;
        padding-left: 15px;
        border-radius: 42px;
        border: 2px solid #324b4e;
        background: #F9F0DA;
        outline: none;
        position: relative;
        transition: .3s linear;
      }
    input:focus {
        width: 300px;
      }
    button {
        width: 42px;
        height: 42px;
        background: none;
        border: none;
        position: relative;
        top:3px;
      }
    button::after{
        content: "\f002";
        font-size: 24px;
        font-family: FontAwesome;
        color: white;
      }
  }

  