.toys-container-settings{
    min-width: 30%;
    border: white 1px solid;
    .toys-form{
        display: flex;
        justify-content: space-between;
        text-align: center;
        button:nth-child(1),
        button:nth-child(2),
        button:nth-child(3),
        button:nth-child(4),
        button:nth-child(5),
        button:nth-child(6){
            font-size: 10px;
            font-family: arial;
            color: white;
            border:none;
            background: none;
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            &::after{
                content: 'колокол';
                position: absolute;
                top: 30px;
                left: 0px;
                position: relative;
                }
            &:active{
                border: red 2px solid;
                
            }
            
        }
        button:nth-child(1){
            background-image: url('../assets/forms/bell.svg');
            &::after{
                content: 'колокол';
            }
        }
        button:nth-child(2){
            background-image: url('../assets/forms/ball.svg');
            &::after{
                content: 'шар';
            }
        }
        button:nth-child(3){
            background-image: url('../assets/forms/pine.svg');
            &::after{
                content: 'шишка';
            }
        }
        button:nth-child(4){
            background-image: url('../assets/forms/snowflake.svg');
            &::after{
                content: 'звезда';
            }
        }
        button:nth-child(5){
            background-image: url('../assets/forms/star.svg');
            &::after{
                content: 'снежинка';
            }
        }
        button:nth-child(6){
            background-image: url('../assets/forms/bird_toy.svg');
            &::after{
                content: 'фигурка';
            }
        }
    }
    .active-btn{
        border: red 2px solid !important;
    }
    .toys-count{
        display: flex;
        #input-1, #input-0{
            width: 15%;
            margin: 0 10px;
        }
    }
    .toys-year{
        display: flex;
        #input-2, #input-3{
            width: 15%;
            margin: 0 10px;
        }
    }
    .toys-color{
        display: flex;
        button:nth-child(1),
        button:nth-child(2),
        button:nth-child(3),
        button:nth-child(4),
        button:nth-child(5),
        button:nth-child(6){
            margin-left: 15px;
            width: 25px;
            height: 25px;
            border-radius: 5px;
        }
        button:nth-child(1){
            background:white;
        }
        button:nth-child(2){
            background:yellow;
        }
        button:nth-child(3){
            background:red;
        }
        button:nth-child(4){
            background:blue;
        }
        button:nth-child(5){
            background:green;
        }
    }
    .toys-size{
        display: flex;
        margin-left: 15px;
    }
    .toys-favorite{
        display: flex;
        align-items: center;
    }
}