@use 'cards';
@use 'settings';
@use 'sliders';
@use 'search';

body{
  background: #192F2D;
}
header{
  display: flex;
  #favorite-toys-count{
    width: 40px;
    height: 40px;
    background: url('../assets/1f499.png');
    background-size: contain;
    font-size: 32px;
    text-align: center;
    color: white;
    align-self: center;
  }
}

.toys-container{
  display: flex;
}

    
