@use '../components/toy/scss/cards';
@use '../components/toy/scss/settings';
@use '../components/toy/scss/sliders';
@use '../components/start-page/search';
@use '../components/tree/scss/tree.scss';
@use '../components/tree/scss/ligthrope';
@use '../components/start-page/start-page.scss';
body{
  background: #192F2D;
}
main{
  background: url('../assets/bg.webp') repeat;
  background-size: contain;
}
footer{
  
  display: flex;
  justify-content: space-around;
  color: white;
  .link-github{
      background-image: url('../assets/648256.png');
      background-size: contain;
      width: 50px;
      height: 50px;
  }
  .year{
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 22px;
  }
  .link-school{
      background-image: url('../assets/logo_rs_text.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 100px;
      height: 50px;
  }
}

.hide{
  display: none !important;
}

.toys-container{
  display: flex;
}

h3::after{
  content: '';
  display: block;
  width: 300px;
  height: 3px;
  background: white;
  
}



#message-container{
  border-radius: 10px;
  display: none;
  background: white;
  position: absolute;
  left: 40%;
  top: 30%;
  width: 300px;
  height: 200px;
  text-align: center;
  #close-message{
    position: absolute;
    right: 5px;
    top: 5px;
    border:none;
  }
  #message{
    position: relative;
    top:45%;
      
  }
}