#tree{
    color: white;
    display: flex;
    column-gap: 5px;
    height: 720px;
    box-sizing: border-box;
    background: url('../assets/bg.webp') repeat;
    background: contain;
    background-repeat: no-repeat;
    #tree-settings-volume-snow{
            height: 10%;
            box-sizing: border-box;
            border: 1px white solid;
    }
    #tree-settings{
        p{
            text-align: center;
            margin: 0;
        }
        flex: 0 1 33.333%;
        border: 1px white solid;
        #tree-settings-select-tree{
            display: flex;
            flex-wrap: wrap;
            height: 35%;
            box-sizing: border-box;
            border: 1px white solid;
            column-gap: 5px;
            row-gap: 5px;
            .type-of-tree{
                width: 80px;
                height: 80px;
                min-width: 50px;
                min-height: 50px;
                border: white 2px solid;
            }
            
        }
        #tree-settings-bg{
            display: flex;
            flex-wrap: wrap;
            height: 35%;
            box-sizing: border-box;
            border: 1px white solid;
            column-gap: 5px;
            row-gap: 5px;
            .type-of-bg{
                width: 50px;
                height: 50px;
                border: white 2px solid;
            }
        }
        #tree-settings-light{
            box-sizing: border-box;
            border: 1px white solid;
            height: 20%;
        }
    }
    #tree-tree{
        flex: 0 1 33.333%;
        border: 1px white solid;
        .tree-main-img{
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }
    #tree-toys{
        flex: 0 1 33.333%;
        border: 1px white solid;
        
        #tree-toys-toys{
            display: flex;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 5px;
            box-sizing: border-box;
            height: 80%;
            border: 1px white solid;
        }
        .tree-toy{
            position: relative;
            width: 60px;
            height: 60px;
            border: white 2px solid;
            z-index: 5;
        }
        .tree-toy-img{
           
        }
        .tree-toy-count{
                position: absolute;
                width: 20px;
                height: 20px;
                background: rgb(98, 204, 223);
                border-radius: 100%;
                font-size: 16px;
                font-weight: bold;
                color: white;
                top: 0;
                left: 0;
                margin: 0;
                text-align: center;
            }
        }
        
    
}